# --- Python General ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Logs y Errores ---
pip-log.txt
pip-delete-this-directory.txt
*.log

# --- Django ---
local_settings.py
db.sqlite3
db.sqlite3-journal

# ⚠️ MEDIA: No subimos las fotos de prueba de tu PC. 
# En AWS tendrás fotos reales.
media/

# ⚠️ STATIC: 
# 'staticfiles' es la carpeta automática de Django (se ignora).
# Mantenemos 'static' (sin el #) si ahí guardas tus CSS/JS originales.
staticfiles/
# static/  <-- COMENTADO para que SÍ se suban tus estilos al GitHub.

# --- Seguridad ---
.env

# --- VS Code y Entornos Virtuales ---
.vscode/
venv/
env/
.idea/

# --- Docker ---
docker-compose.override.yml

# --- SQL Backups ---
*.sql